@import 'tailwindcss';

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  a {
    font-family: 'Itim', cursive;
  }

  a {
    font-weight: bold;
  }
}
@theme {
  --color-cc-green: #3ca61a;
  --color-cc-yellow: #f7dd55;
  --color-cc-blue: #11468c;
  --color-cc-cyan: #49a9b6;
}
