---

---

<section class="mb-6">
  <div class="bg-cc-yellow p-4">
    <h2 class="text-black text-3xl text-center">TOUS ET TOUTES LÉGITIMES : REJOIGNEZ-NOUS !</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto flex flex-col md:flex-row gap-8">
    <div class="flex-1">
      <p class="mb-4">
        Chaque personne (peu importe son âge, son origine sociale ou culturelle) souhaitant participer à ce projet a
        toute légitimité à le faire, sans privilège ni exclusion et Confluences Citoyennes s’engage à favoriser cette
        participation
      </p>

      <p>
        Vous pouvez participer :
        <ul class="list-disc list-inside [&>li]:ml-2">
          <li>En tant qu’habitant souhaitant s’exprimer ou partager votre expérience</li>
          <li>En tant que sympathisant volontaire pour la mise en oeuvre du projet, de manière ponctuelle ou sur le long terme</li>
        </ul>
      </p>

      <div class="bg-cc-yellow rounded-2xl p-4 mt-4 space-y-2">
        <p>Si vous pensez que la démocratie doit partir de la rue, du quartier, de la commune.</p>
        <p>Si vous pensez que la démocratie locale s’entretient et qu’elle doit s’exercer au quotidien.</p>
        <p>Si vous pensez que la participation citoyenne est essentielle pour l’avenir du territoire.</p>
        <p>Alors rejoignez l'aventure participative !</p>
      </div>
    </div>

    <div class="flex-1 space-y-2">
      <div class="bg-cc-yellow rounded-2xl p-4">
        <p class="text-center text-xl font-bold">COMMENT PARTICIPER ?</p>
      </div>

      <p>
        <a
          href="https://coufouleux-commun.frama.space/apps/forms/s/qZsokAgZepAiWBsxWreDDACe"
          class="underline hover:no-underline"
          >Laissez votre mail pour être informé des dates des prochaines réunions publiques d’information</a
        >
      </p>
      <p>
        <a
          href="https://coufouleux-commun.frama.space/apps/forms/s/qZsokAgZepAiWBsxWreDDACe"
          class="underline hover:no-underline"
          >Répondez à l’enquête en cours pour faire connaître vos besoins, vos idées ici</a
        >
      </p>
      <p>
        <a
          href="https://framaforms.org/questionnaire-aupres-des-habitantes-de-couffouleux-1747647038"
          class="underline hover:no-underline"
          >Vous connaissez déjà l’initiative? Rejoignez une des commissions, inscrivez-vous pour participer au porte à
          porte... Soyez bienvenus!</a
        >
      </p>
    </div>
  </div>
</section>
