---

---

<section class="mb-6">
  <div class="bg-cc-green p-4">
    <h2 class="text-white text-3xl text-center">POUR ALLER PLUS LOIN...</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto space-y-2 text-center">
    <p class="text-cc-green p-4 text-xl">Pour nous rencontrer - Prochain évènement</p>
    <p>Retrouvez-nous</p>
    <p>Samedi 5 juillet 2025</p>
    <p>Dans le parc de la Mairie à 19h (à gauche)</p>
    <p>pour un temps d’information</p>
    <p>suivi d’un repas partagé</p>
    <p>Moment familial, espace de jeux pour enfants</p>
  </div>
</section>
