---
import flyer2 from '../assets/flyer2.jpg';
import { Image } from 'astro:assets';
---

<section class="mb-6">
  <div class="bg-cc-yellow p-4">
    <h2 class="text-black text-3xl text-center">PROCHAINS RENDEZ-VOUS, PROCHAINES ACTIONS</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto space-y-2" id="prochain-evenement">
    <p class="text-cc-green text-xl">Prochain évènement</p>

    <div class="lg:grid lg:grid-cols-2 gap-4">
      <div class="space-y-2">
        <p>
          Le premier atelier public programmatique de Confluences Citoyennes a réuni une quarantaine d'habitants samedi
          20/09 pour plancher sur la question "Ma commune se réchauffe, que peut-on faire ?".
        </p>

        <p>
          Après une présentation rapide de l'initiative de Confluences Citoyennes, deux temps de tables rondes ont été
          réalisés. Les participants ont échangé en petit groupe autour de 3 thèmes pré-selectionnés : la mobilité, la
          végétalisation et l'habitat. Des propositions sur les leviers d'actions de lacommune, de l'agglo et des
          citoyens à Couffouleux ont été formulées. Un deuxième temps d'échange a permis de regrouper les tables, de
          mettre en commun les idées et de faire une sélection collective des propositions.
        </p>

        <p>
          Le fruit de l'ensemble de ce travail va nourrir la construction programmatique de Confluences Citoyennes et
          viendra compléter les enquêtes réalisées cet été. Nous invitons celles et ceux qui sont intéressé·es par ce
          travail à nous rejoindre et/ou à participer aux ateliers suivants :
        </p>

        <ul class="list-disc list-inside [&>li]:ml-2">
          <li><strong>Samedi 18 octobre</strong> - 17h à 19h30 - Salle Mandela</li>
          <li><strong>Samedi 22 novembre</strong> - 17h à 19h30 - Salle De Guerdavid</li>
          <li><strong>Samedi 13 décembre</strong> - 17h à 19h30 - Salle De Guerdavid</li>
        </ul>

        <p>Les ateliers de travail sont suivis d'un pot.</p>
      </div>
      <div class="flex justify-center">
        <Image src={flyer2} alt="Confluences Citoyennes" width={450} />
      </div>
    </div>
  </div>
</section>
