---
import flyer200925 from '../assets/flyer-200925.jpg';
import flyer181025 from '../assets/flyer-181025.jpg';
import flyer221125 from '../assets/flyer-221125.jpg';
import { Image } from 'astro:assets';
---

<section class="mb-6">
  <div class="bg-cc-yellow p-4">
    <h2 class="text-black text-3xl text-center">PROCHAINS RENDEZ-VOUS, PROCHAINES ACTIONS</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto space-y-2" id="prochain-evenement">
    <div class="lg:grid lg:grid-cols-2 gap-4 mb-10 items-start">
      <div class="space-y-2">
        <p class="text-cc-green text-xl">Prochain évènement</p>
        <p>
          Au 3ième et (avant-dernier) atelier programmatique, nous nous intéresserons à la durabilité et à la
          valorisation des ressources sur notre territoire. Nous parlerons économie locale, gestion des espaces et
          ressources naturelles et alimentation locale.
        </p>

        <p>Venez partager vos constats, vos besoins, vos propositions !</p>

        <p>
          Comme la dernière fois, un espace enfant sera prévu pour que les parents profitent au mieux du moment et nous
          conclurons par un pot convivial.
        </p>

        <p>
          Le fruit de l'ensemble de ce travail va nourrir la construction programmatique de Confluences Citoyennes et
          viendra compléter les enquêtes réalisées cet été. Nous invitons celles et ceux qui sont intéressé·es par ce
          travail à nous rejoindre et/ou à participer aux ateliers suivants :
        </p>

        <ul class="list-disc list-inside [&>li]:ml-2">
          <li><strong>Samedi 22 novembre</strong> - 17h à 19h30 - Salle De Guerdavid</li>
          <li><strong>Samedi 13 décembre</strong> - 17h à 19h30 - Salle De Guerdavid</li>
        </ul>

        <p>Les ateliers de travail sont suivis d'un pot.</p>
      </div>
      <div class="flex justify-center">
        <Image src={flyer221125} alt="Confluences Citoyennes" width={450} />
      </div>
    </div>

    <p class="text-cc-green text-xl">Évènements passés</p>

    <div class="flex justify-center">
      <Image src={flyer181025} alt="Confluences Citoyennes" width={350} />
      <Image src={flyer200925} alt="atelier public programmatique du 20/09/2025" width={350} />
    </div>
  </div>
</section>
