---

---

<section class="mb-6">
  <div class="bg-cc-cyan p-4">
    <h2 class="text-cc-yellow text-3xl text-center">NOTRE RAISON D’ÊTRE</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto space-y-2">
    <p>
      Dans un monde où les enjeux environnementaux, sociaux et solidaires deviennent de plus en plus pressants, il nous
      apparaît essentiel d'agir ensemble, à partir de ce qui nous rassemble. Nous avons à cœur de préserver et de
      renforcer la qualité de vie des habitants de notre commune et de préparer du mieux possible l’avenir de toutes et
      tous en promouvant des services publics de proximité et en valorisant nos biens communs (eau, espaces et
      équipements publics, alimentation ou énergie produites localement, etc.).
    </p>

    <p>
      L’accueil, le respect, l’écologie, la solidarité, la confiance et l’intégrité sont des valeurs centrales de notre
      projet pour Couffouleux.
    </p>

    <p>
      Nous voulons susciter l'engagement de la population pour construire des solutions d'avenir cohérentes,
      complémentaires et soutenables liées aux compétences et aux moyens de la commune et de la communauté
      d'agglomération.
    </p>

    <p>
      Nous tenons à affirmer que chaque personne (peu importe son âge, son origine sociale ou culturelle) souhaitant
      participer à ce projet a toute légitimité à le faire, sans privilège ni exclusion et nous nous engageons à
      favoriser cette participation.
    </p>

    <p>
      La diversité des parcours et des expériences constitue d’après nous une richesse incontestable. Nous sommes
      convaincus qu'il est possible de redonner envie aux citoyens de s’engager dans la vie de la cité et de permettre
      une participation réelle.
    </p>

    <p>
      La raison d’être de notre collectif est d'imaginer de nouvelles pratiques démocratiques afin de nous réapproprier
      notre destin commun.
    </p>
  </div>
</section>
