---
import { Image } from 'astro:assets';
import timeline from '../assets/timeline.png';
---

<section class="mb-6">
  <div class="bg-cc-blue p-4">
    <h2 class="text-white text-3xl text-center">RÉTROPLANNING</h2>
  </div>

  <div class="p-4 max-w-5xl mx-auto">
    <p>
      Nous avons jusqu’à mars 2026 pour imaginer ensemble une proposition qui nous rassemble, pour le futur de notre
      commune. Ce n’est pas beaucoup, mais c’est possible, si nous nous répartissons les tâches et travaillons tous et
      toutes ensemble, car Couffouleux est une commune riche des multiples talents et savoir-faire de tous les habitants
      qui l’habitent !
    </p>
  </div>

  <div class="p-4 max-w-5xl mx-auto">
    <Image src={timeline} alt="Rétroplanning" />
  </div>
</section>
