---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import couffouleux from '../assets/couffouleux.jpg';
import confluons from '../assets/confluons.png';
---

<section class="mb-6">
  <div class="bg-cc-green p-4">
    <div class="max-w-5xl mx-auto flex flex-row gap-4 justify-end">
      <a
        href="#prochain-evenement"
        class="inline-block font-itim text-sm bg-cc-yellow px-4 py-1 rounded-full hover:underline"
        >PROCHAIN RDV : ATELIER PARTICIPATIF LE 20 SEPT à 17H</a
      >
      <a
        href="https://coufouleux-commun.frama.space/apps/forms/s/qZsokAgZepAiWBsxWreDDACe"
        class="inline-block font-itim text-sm bg-cc-yellow px-4 py-1 rounded-full hover:underline">JE PARTICIPE</a
      >
    </div>
  </div>

  <div class="p-4 flex flex-col sm:flex-row items-center justify-center gap-4">
    <Image src={logo} alt="Confluences Citoyennes" width={250} />
    <h1 class="text-cc-blue text-3xl">
      <span class="sr-only">Confluences Citoyennes</span>
      Participation, Écologie, Solidarité
    </h1>
  </div>

  <div class="bg-cc-green p-4">
    <div class="max-w-5xl mx-auto">
      <Image src={confluons} alt="Confluons ensemble" />
    </div>
  </div>

  <div class="p-8 max-w-5xl mx-auto flex flex-col sm:flex-row gap-8 items-center justify-between">
    <p>
      Nous sommes des habitants et habitantes de Couffouleux qui se rassemblent pour construire l’avenir de leur
      commune.
    </p>

    <Image src={couffouleux} alt="Couffouleux est à vous !" class="w-full" />

    <p>
      Nous sommes une initiative indépendante de tout parti politique visant à constituer une liste participative pour
      les élections municipales de mars 2026.
    </p>
  </div>
</section>
