---
import '@fontsource/itim';
import itim from '@fontsource/itim/files/itim-latin-400-normal.woff2?url';

import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Confluences Citoyennes</title>
		<link rel="preload" as="font" type="font/woff2" href={itim} crossorigin="anonymous" />
	</head>
	<body>
		<slot />
	</body>
</html>

